<h2>Products</h2>

<div *ngFor="let product of products">
  <!--With *ngFor, the <div> repeats for each product in the list.-->
  <h3>
    <!-- The RouterLink directive helps you customize the anchor element. In this case, the route, or URL, contains one fixed segment, /products. The final segment is variable, inserting the id property of the current product. For example, the URL for a product with an id of 1 would be similar to https://getting-started-myfork.stackblitz.io/products/1. -->
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
      <!-- Interpolation {{ }} lets you render the property value as text. -->
    </a>
  </h3>

  <p *ngIf="product.description">
    <!-- use an *ngIf directive so that Angular only creates the <p> element if the current product has a description. -->
    <!-- Angular doesn't create the <p> element because the product's description property is empty. -->
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share()">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify2()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
